@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Sora:wght@600;700&family=Ubuntu:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  color: #000000;
  background: #ffffff;
  font-family: "Lato", sans-serif;
}

main {
  max-width: 1200px;
  margin: 40px auto;
}

.headingStyle {
  font-family: "Sora", sans-serif;
}

.buttonStyle {
  font-family: "Ubuntu", sans-serif;
}
